# Wordpress - ignore core, configuration, examples, uploads and logs.
# https://github.com/github/gitignore/blob/main/WordPress.gitignore

# Core
#
# Note: if you want to stage/commit WP core files
# you can delete this whole section/until Configuration.
/wordpress/
/wp-content/index.php
/wp-content/languages
/wp-content/plugins/index.php
/wp-content/plugins/updraftplus/
/wp-content/updraft/
/wp-content/themes/index.php
/wp-includes/
/index.php
/license.txt
/readme.html
/wp-*.php
/xmlrpc.php

# Configuration
wp-config.php

# Example themes
/wp-content/themes/twenty*/

# Ignore everything in the plugins directory
wp-content/plugins/*
wp-content/mu-plugins/*

# But exclude yd plugins ( make sure and prefix them with yd)
!wp-content/plugins/yd*
!wp-content/plugins/yd*/

# Ignore WP stock themes
wp-content/themes/*

# But exclude main plugins ( make sure and prefix them with yd)
!wp-content/themes/burrows-bcis/
!wp-content/themes/burrows-bcis/**

# Uploads
/wp-content/uploads/

# These are managed by WPE
wp-content/advanced-cache.php
wp-content/object-cache.php

# Log files
*.log

# htaccess
/.htaccess

# All plugins
#
# Note: If you wish to whitelist plugins,
# uncomment the next line
#/wp-content/plugins

# All themes
#
# Note: If you wish to whitelist themes,
# uncomment the next line
#/wp-content/themes
/nbproject/private/

.DS_Store