.editor-styles-wrapper .wp-block .custom-horizontal-center {
  display: flex;
  align-items: center; /* Horizontally center content */
}

.editor-styles-wrapper .wp-block .bc-hero-block {
  background-color: #333;
  height: 50vh;
  width: 100vw;
}
.editor-styles-wrapper .wp-block .burrows-landing-container {
  max-width: var(--wp--style--global--wide-size);
  margin-left: auto !important;
  margin-right: auto !important;
  top: 175px;
  position: absolute;
  left: 0;
  z-index: 1;
  display: flex;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  & .burrows-landing-text {
    flex: 1;
    text-align: left;
    & h1 {
      font-weight: 900;
      font-family: var(--wp--preset--font-family--nunito);
    }
  }
  & .burrows-landing-carousel {
    flex: 2;
  }
}
