@font-face {
  font-family: "Segoe";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/SegoeUI-VF.ttf") format("truetype");
}

.custom-horizontal-center {
  display: flex;
  align-items: center; /* Horizontally center content */
}

footer {
  margin-block-start: 0;
}

.header-menu-container {
  font-size: var(--wp--preset--font-size--small);
}

.burrows-landing-hero {
  min-height: 70vh;
  width: 100%;
  position: relative;
  & figure {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  & img {
    object-position: center bottom;
    object-fit: cover !important;
    width: 100%;
    height: 100%;
  }
  & .overlay-text {
    flex-direction: column;
    align-content: center;
    justify-content: center;
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    margin: auto;
    z-index: 1;
    position: relative;
    background-color: transparent;
    width: 100%;
    max-width: var(--wp--style--global--wide-size);
    box-sizing: border-box;
  }
  & .burrows-landing-container {
    display: flex;
    gap: 24px;
    & .burrows-landing-text {
      flex: 2;
      text-align: left;
    }
    & .burrows-landing-carousel {
      flex: 3;
    }
  }
}

@media (max-width: 1160px) {
  .burrows-landing-container {
    flex-direction: column;
  }
}

/* HEADER */
.bc-header {
  background-color: var(--wp--preset--color--white);
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
}

/* PAGE */
.bc-hero-block {
  background-color: #333;
  height: 50vh;
  width: 100vw;
}
main {
  margin-block-start: 0;
  position: relative;
  & img {
    object-position: top;
  }
  & .hero-container {
    position: relative;
  }
  & .page-title {
    top: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: var(--wp--preset--color--white);
  }
  & .has-overlay {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.4); /* Black color with 8% opacity */
      pointer-events: none;
    }
  }
  & h2:before {
    content: "";
    display: block;
    width: 74px;
    margin: var(--wp--custom--spacing--24) auto;
    border-bottom: solid 2px var(--wp--preset--color--burrows-slate);
  }
  & a.button {
    padding: 10px 24px;
    background-color: var(--wp--preset--color--burrows-slate);
    font-family: var(--wp--preset--font-family--nunito);
    color: var(--wp--preset--color--white);
    border-radius: 8px;
    text-decoration: none;
    display: inline-block;
  }
}

/* MENU */
.wp-block-navigation:not(.has-text-color)
  .wp-block-navigation__submenu-container {
  color: var(--wp--preset--color--white);
  background-color: var(--wp--preset--color--burrows-slate);
  border-radius: 8px;
  padding: var(--wp--custom--spacing--24);
}

.wp-block-navigation .wp-block-navigation-item {
  background-color: transparent;
}

.wp-block-navigation__responsive-container-content {
  font-family: var(--wp--preset--font-family--nunito);
}

.wp-block-navigation
  .has-child
  .wp-block-navigation__submenu-container
  > .wp-block-navigation-item
  > .wp-block-navigation-item__content {
  line-height: 22px;
  margin: 0;
  padding: 0;
  font-size: var(--wp--preset--font-size--small);
}
.wp-block-navigation__submenu-container li:first-child {
  padding-bottom: 12px;
}
.wp-block-navigation__submenu-container li:not(:first-child) {
  border-top: solid 1px var(--wp--preset--color--white);
  padding-top: 12px;
}

/* Submenu Arrows */
/* Style for the main navigation block */
.wp-block-navigation .wp-block-navigation-item {
  position: relative;
}

/* Style for submenu items */
.wp-block-navigation .wp-block-navigation__submenu-container {
  position: relative;
}

/* Style for the submenu links */
.wp-block-navigation .wp-block-navigation-item__content {
  position: relative;
  padding-right: 20px; /* Adjust padding to make space for the arrow */
}

/* Add the right-facing arrow */
.wp-block-navigation__submenu-container
  .wp-block-navigation-item__content::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  color: var(--wp--preset--color--white);
  width: 6px;
  height: 6px;
  border-right: 2px solid var(--wp--preset--color--white);
  border-bottom: 2px solid var(--wp--preset--color--white);
  transform: translateY(-50%) rotate(-45deg);
}

.wp-block-navigation-link:last-child a {
  padding-right: 0;
}

.wp-block-navigation-link {
  &.button {
    padding: 10px 24px;
    background-color: var(--wp--preset--color--burrows-slate);
    color: var(--wp--preset--color--white);
    border-radius: 8px;
  }
}

/** BUTTONS */
.btn {
  padding: 10px 24px;
  font-family: var(--wp--preset--font-family--segoe);
  background-color: var(--wp--preset--color--burrows-slate);
  color: var(--wp--preset--color--white);
  border-radius: 8px;
  text-decoration: none;
  display: inline-block;
  & i.download::after {
    display: inline-block;
    line-height: 24px;
    vertical-align: bottom;
    width: 24px;
    height: 24px;
    content: url("../../img/burrows-download.svg");
  }
}
.play-btn {
  width: 28px;
  height: 28px;
  display: inline-block;
  text-align: center;
}
.play-btn::after {
  content: url("../../img/playbtn.svg");
  display: inline-block;
  width: 28px;
  height: 28px;
  line-height: 24px;
  vertical-align: bottom;
}

.not-layout-constrained {
  max-width: 100% !important;
}

h5 {
  margin-block-start: 0;
  margin-block-end: 0;
}

.wp-container-core-buttons-layout-1 {
  margin-block-start: 1em !important;
}
.service-panel {
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  border-radius: 8px;
}

.wp-block-search__input {
  padding: 16px 8px;
}
