<!-- wp:group {"style":{"position":{"type":"sticky","top":"0px"}},"layout":{"type":"default"}} -->
<div class="wp-block-group">
  <!-- wp:template-part {"slug":"header","tagName":"header"} /-->
</div>
<!-- /wp:group -->

<!-- wp:group {"tagName":"main","style":{}} -->
<main class="wp-block-group">
  <!-- wp:group {} -->
  <div class="wp-block-group">
    <!-- wp:post-content {"style":{"spacing":{"blockGap":"var:preset|spacing|50"}},"className":"small-screen-padding","layout":{"inherit":true}} /-->
  </div>
  <!-- /wp:group -->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
